*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}
body{
    background-color: #202124;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    color: #fff;
    border-bottom: 1px solid #ccc;

}

#search-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#search-input{
    background-color: #525356;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: #ddd;
    width: 400px;
}

#search-input::placeholder{
    color: #ddd;

}

#export-notes{
    background-color: #333;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 4px;
    padding: 5px 15px;
    cursor: pointer;
    transition: .4s;
}

#export-notes:hover{
color: #333;
background-color: #Fff;
}

#add-note-container{
    display: flex;
    margin: 1rem auto 0;
    width: 400px;
    gap: 1rem;
}
#add-note-container input,
#add-note-container button{
    padding: 10px;
    border-radius: 5px;
}

#add-note-container input{
    flex: 1;
    background-color: transparent;
    border: 1px solid #525356;
    color: #fff;
}
#add-note-container button{
    cursor: pointer;
    background-color: #333;
    color: #fff;
}

#notes-container{
    display: grid;
    padding: 2rem;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, 250px);
}

.note{
    min-height: 200px;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #202124;
    border-radius: 10px;
    color: #fff;
    position: relative;
}
.note textarea{
    background-color: transparent;
    resize: none;
    color: #fff;
    border: none;
    height: 100%;
    outline: none;
}

.note .bi-pin{
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    background-color: #333;
}
.note:hover > i{
    opacity: 1;
}
.note .bi-x-lg,
.note .bi-file-earmark-plus{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: .9rem;
    padding: 5px;
    transition: .3s;
    color: #555;
    cursor: pointer;
    opacity: 0;

}
.note .bi-file-earmark-plus{
    top: 40px;
}

.note .bi-x-lg:hover,
.note .bi-file-earmark-plus:hover{
    color: #fff;
}
.note.fixed{
    background-color:#3c3c3f ;
}